<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dw.exercise.dao.PaperDAO">
    <resultMap id="paper" type="TestPaper">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="bank_id" property="bankId" jdbcType="INTEGER"/>
        <result column="paper_no" property="paperNo" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="s_num" property="sNum" jdbcType="INTEGER"/>
        <result column="m_num" property="mNum" jdbcType="INTEGER"/>
        <result column="t_num" property="tNum" jdbcType="INTEGER"/>
        <result column="s_score" property="sScore" jdbcType="INTEGER"/>
        <result column="m_score" property="mScore" jdbcType="INTEGER"/>
        <result column="t_score" property="tScore" jdbcType="INTEGER"/>
        <result column="total_score" property="totalScore" jdbcType="INTEGER"/>
        <result column="name" property="bankName" jdbcType="VARCHAR"/>
        <result column="total_time" property="totalTime" jdbcType="INTEGER"/>
        <result column="rest_time" property="restTime" jdbcType="INTEGER"/>
    </resultMap>
    <insert id="createPaper" useGeneratedKeys="true" keyProperty="id">
        insert into test_paper(bank_id, paper_no, user_id, status, s_num, m_num, t_num, s_score, m_score, t_score, total_score, total_time, rest_time)
        values(#{bankId}, #{paperNo}, #{userId}, #{status}, #{sNum}, #{mNum}, #{tNum}, #{sScore}, #{mScore}, #{tScore}, #{totalScore}, #{totalTime}, #{restTime})
    </insert>
    <select id="getMaxPaperNoOfDate" parameterType="map" resultType="java.lang.String">
        select max(paper_no) from test_paper where user_id = #{userId} and substr(paper_no, 1, 8) = #{date}
    </select>
    <insert id="batchInsertPaperQuestion" parameterType="java.util.List">
        insert into paper_question(paper_id, question_id, no, selected, is_right) values
        <foreach collection="list" item="item" separator="," index="index">
            (#{item.paperId}, #{item.questionId}, #{item.no}, #{item.selected,typeHandler=com.dw.util.mybatis.handler.IntegerListTypeHandler}, #{right})
        </foreach>
    </insert>
    <select id="getPaperOfUser" parameterType="java.lang.Integer" resultMap="paper">
        select a.id, bank_id, paper_no, user_id, status, s_num, m_num, t_num, s_score, m_score, t_score, total_score, b.name, a.total_time, a.rest_time
        from test_paper a left join question_bank b on a.bank_id = b.id where user_id = #{userId}
    </select>
    <update id="updateSelectedOfPaperQuestion" parameterType="PaperQuestion">
        update paper_question set selected=#{selected, typeHandler=com.dw.util.mybatis.handler.IntegerListTypeHandler}, is_right=#{right}
        where paper_id = #{paperId} and question_id = #{questionId}
    </update>
    <select id="getPaperInfoWithId" resultMap="paper">
        select id, bank_id, paper_no, user_id, status, s_num, m_num, t_num, s_score, m_score, t_score, total_score, total_time, rest_time
        from test_paper where id = #{id}
    </select>
    <select id="countRightQuestionInPaper" resultType="PaperQuestionCount">
        SELECT b.type, count(*) as cnt FROM `paper_question` a left join question b on a.question_id = b.id
        where a.paper_id = #{paperId} and a.is_right = 1
        group by b.type
    </select>
</mapper>