<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dw.exercise.dao.QuestionDAO">
    <resultMap id="questionMap" type="Question">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="question" property="question" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="edit_flag" property="editFlag" jdbcType="VARCHAR"/>
        <result column="bank_id" property="bankId" jdbcType="INTEGER"/>
        <collection property="rightChoices" javaType="ArrayList" ofType="Choice" column="id" select="selectRightChoices"/>
        <collection property="wrongChoices" javaType="ArrayList" ofType="Choice" column="id" select="selectWrongChoices"/>
    </resultMap>
    <insert id="createQuestion" useGeneratedKeys="true" keyProperty="id">
        insert into question (question,  type, edit_flag, bank_id)
        values(#{question}, #{type}, #{editFlag}, #{bankId})
    </insert>
    <insert id="insertChoice" useGeneratedKeys="true" keyProperty="id" parameterType="Choice">
        insert into choice(text, question_id, is_right) values(#{text}, #{questionId}, #{right})
    </insert>

    <select id="getNextQuestionInBankId" resultMap="questionMap">
        select id, question,type, edit_flag, bank_id
        from question where bank_id = #{bankId} and id > #{id} order by id asc limit 1
    </select>
    <select id="getNextQuestionInWrongCollection" resultMap="questionMap" parameterType="map">
        select id, question,  type, edit_flag, bank_id from question
          where id in (select question_id from wrong_collection where user_id = #{userId} and bank_id = #{bankId})
          and id > #{lastId} order by id asc limit 1
    </select>
    <select id="getQuestionRandomlyInBankId" resultMap="questionMap">
        select t1.id, question,  type, edit_flag, bank_id from question t1
        join
        (SELECT ROUND(RAND() * ((SELECT MAX(id) FROM question where bank_id = #{bankId})-
        (SELECT MIN(id) FROM question  where bank_id = #{bankId}))+
        (SELECT MIN(id) FROM question where bank_id = #{bankId})) AS id) AS t2
        where t1.id >= t2.id and t1.bank_id = #{bankId} ORDER BY t1.id LIMIT 1;
    </select>
    <select id="getQuestionById" resultMap="questionMap">
      select id, question, type, edit_flag, bank_id from question where id = #{id}
    </select>
    <select id="getChoiceById" resultType="Choice">
        select id, text, question_id, is_right from choice where id = #{id}
    </select>
    <select id="countQuestionWithBankAndType" resultType="java.lang.Integer">
        select count(*) from question where bank_id = #{bankId} and type=#{type}
    </select>
    <select id="selectRightChoices" parameterType="java.lang.Integer" resultType="Choice">
        select id, text, question_id, is_right from choice where question_id = #{id} and is_right=1
    </select>
    <select id="selectWrongChoices" parameterType="java.lang.Integer" resultType="Choice">
        select id, text, question_id, is_right from choice where question_id = #{id} and is_right=0
    </select>
    <delete id="deleteChoicesInBank" parameterType="java.lang.Integer">
        delete from choice where question_id in(select id from question where bank_id = #{bankId})
    </delete>
    <delete id="deleteQuestionsInBank" parameterType="int">
        delete from question where bank_id = #{bankId}
    </delete>
    <select id="getQuestionIdsWithBankAndType" resultType="java.lang.Integer">
        select id from question where bank_id = #{bankId} and type=#{type}
    </select>
    <select id="getQuestionsInPaper" resultMap="questionMap" parameterType="map">
        select b.id, b.question, b.type, b.edit_flag, b.bank_id from paper_question a left join question b on a.question_id = b.id
        where a.paper_id = #{paperId} and b.type = #{type}
    </select>
</mapper>